h3 {
  color: rgb(4, 247, 255);
}

.grey-text.text-lighten-3 {
  color: #02ffff !important;
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
}

.footer-copyright {
  text-align: center;
}

.activity {
  border-style: dashed;
  border-width: 5px;
  border-color: salmon; 
  padding: 20px;
}