h3 {
  color: rgb(4, 247, 255);
}

.grey-text.text-lighten-3 {
  color: #02ffff !important;
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
}

.footer-copyright {
  text-align: center;
}

.activity {
  border-style: dashed;
  border-width: 5px;
  border-color: salmon; 
  padding: 20px;
}

.home-page-image {
  width: 416px;
  height: 250px;
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 25px;
  border: 2px solid black;
}

#first-content-block {
  border: 2px solid salmon;
  border-radius: 25px;
  margin-top: 50px;
  padding: 20px;
}

#second-content-block {
  border: 2px solid salmon;
  border-radius: 25px;
  margin-top: 50px;
}