h3 {
  font-weight: bolder;
  color: white;
}

.grey-text.text-lighten-3 {
  font-weight: bolder;
  color: white !important;
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
}

.footer-copyright {
  text-align: center;
}

.activity {
  border-style: dashed;
  border-width: 5px;
  border-color: salmon; 
  padding: 20px;
}

.caption {
  font-weight: bolder;
  color: white;
  opacity: 75%;
  text-shadow:
   -1px -1px 0 salmon,  
    1px -1px 0 salmon,
    -1px 1px 0 salmon,
     1px 1px 0 salmon;
}

.home-page-image {
  width: 416px;
  height: 250px;
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 25px;
  border: 2px solid black;
}

#first-content-block {
  border: 2px solid salmon;
  border-radius: 25px;
  margin-top: 50px;
  padding: 20px;
  margin-bottom: 20px;
}

#second-content-block {
  border: 2px solid salmon;
  border-radius: 25px;
  margin-top: 50px;
  margin-bottom: 75px;
}